html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;

}


.table{
  display: grid;
  grid-template-columns: repeat(17, auto) 1fr;
  width: 100%;
  position: relative;
  max-width: 1152px;
  margin: 50px auto;
}



.element{
  justify-content: center;
  position: relative;
  width: 54.63px;
  height: 54.63px;
  margin: 1px;
  border-radius: 2px;
  border: 0.5px solid #50514F;
  justify-content: center;
  cursor: pointer;
}

.element-in{
  height: 54.63px;
}

.element-in h4{
  text-align: center;
}

.element-in small{
  margin-left: 3px;
}

.element :hover{
  background: chartreuse;
}

h4{
  margin: 0;
}
h3{
  margin: 0px;
}
.element-2{
  grid-column-start: -2;
}

tbody{

  flex-basis: 100%;
}

tr{
  display: block;
}

td{
  display: flex;
  border: 1px solid rgba(0,0,0,.1);
  padding-left: 10px;
}

.element-5, .element-13{
  grid-column-start: 13;
}

.align{
  display:flex; 
  align-items:center; 
  justify-content: center
}

.box{
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);;
  padding: 10px;
  margin: 100px 0px;
}

.form{
  display: flex;
  margin: 10px 0;
}

.MuiFormControl-root {
  width: 80%;
}

@media only screen and (max-width: 800px){
  .container{
    
    overflow: scroll;
  }
}

@media only screen and (max-width: 1150px){
  .boxElemento{
    left: 38%  !important;
    transform: translateX(-50%) !important;
  }
@media only screen and (max-width: 1045px){
  .boxElemento{
    left: 40%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 1000px){
  .boxElemento{
    left: 42%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 948px){
  .boxElemento{
    left: 44%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 905px){
  .boxElemento{
    left: 46%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 862px){
  .boxElemento{
    left: 48%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 833px){
  .boxElemento{
    left: 50%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 833px){
  .boxElemento{
    left: 52%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 786px){
  .boxElemento{
    left: 54%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 760px){
  .boxElemento{
    left: 56%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 735px){
  .boxElemento{
    left: 58%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 710px){
  .boxElemento{
    left: 60%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 687px){
  .boxElemento{
    left: 62%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 666px){
  .boxElemento{
    left: 64%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 646px){
  .boxElemento{
    left: 66%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 628px){
  .boxElemento{
    left: 68%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 611px){
  .boxElemento{
    left: 70%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 595px){
  .boxElemento{
    left: 72%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 595px){
  .boxElemento{
    left: 74%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 566px){
  .boxElemento{
    left: 78%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 549px){
  .boxElemento{
    left: 82%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 519px){
  .boxElemento{
    left: 86%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 500px){
  .boxElemento{
    left: 90%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 479px){
  .boxElemento{
    left: 94%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 460px){
  .boxElemento{
    left: 98%  !important;
    transform: translateX(-50%) !important;
  }
}
@media only screen and (max-width: 411px){
  .boxElemento{
    left: 100%  !important;
    transform: translateX(-50%) !important;
  }
}
  
}